{% extends 'admin/adminlayout.html' %}
{% block admin %}



<div>
    <h4 style="font-weight: 900;">Recieved File</h4>
</div>

<div>
    <p>Open file, track movement and take action</p>
</div>


<table>
    <thead>
        <tr>
            <th>File No</th>
            <th>Subject</th>
            <th>Attachment</th>
            <th>Current User</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


























 {% endblock %}