{% extends 'user/userlayout.html' %}
{% block user %}



<div>
    <h4 style="font-weight: 900;">All File</h4>
</div>

<div>
    <p>Open file, track movement and take action</p>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>File No</th>
            <th>Subject</th>
            <th>Create User</th>
            <th>Attachment</th>
            <th>Current User</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for i in ab %}
        <tr>
            <td>{{i.file_no}}</td>
            <td>{{i.subject}}</td>
            <td>{{i.create_user}}</td>
            <td>{% if i.file %}
                <a href="{{i.file.url}}" class="text-dark">Click Here</a>

            {% else %}
            <p>File Not Show</p>
            {% endif %}
            </td>
            <td>{{i.current_user}}</td>
            <td>{{i.status}}</td>
            <td>{{i.create_at}}</td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>


























 {% endblock %}