{% extends 'user/userlayout.html' %}
{% block user %}



<div>
    <h4 style="font-weight: 900;">Recieved File</h4>
</div>

<div>
    <p>Open file, track movement and take action</p>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>File No</th>
            <th>Subject</th>
            <th>Create User</th>
            <th>Attachment</th>
            <th>Current User</th>
            <th>Status</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in ab %}
        <tr>
            <td>{{i.file_no}}</td>
            <td>{{i.subject}}</td>
            <td>{{i.create_user}}</td>
            <td>{{i.file}}</td>
            <td>{{i.current_user}}</td>
            <td>{{i.status}}</td>
            <td>{{i.create_at}}</td>
            <td><a href="{% url 'details_file' i.file_no %}"><button>Open</button></a></td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>


























 {% endblock user %}